
form(action = "/person", method = "POST")

    label(for="name") Name:
    input(type="text" id = "name" name="name")


    label(for="age") Age:
    input(type="number" id="age" name="age")


    label(for="fav_food") Favorite Foods:
    input(type="text" id="fav_food" name="fav_food")

    br
    button(type="submit" class="button-primary") Create new person 

